@import "tailwindcss";

html * {
	overscroll-behavior: none;
}
#root {
	display: flex;
}
.tree-view-outer {
	height: 100dvh;
	width: 15ic;
	ul {
		margin-left: 1ic;
	}
}
.page-outer {
	height: 100dvh;
	overflow-y: scroll;
	flex: 1;
}